:root {
  --text-color: #76d7c4;
  --background-color: #17202a;
  --img-frame-color: #273746;
}

#About {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centerTextDiv {
  text-align: center;
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.imageGlow {
  box-shadow: 0 0 100px var(--text-color);
}

.imageFrames {
  background-color: var(--background-color);
  padding: 1%;
}

.nav-target-element {
  margin-top: -50px;
  padding-top: 100px;
}

body {
  background-color: var(--background-color);
}

body::after {
  background: url('images/background/vop_logo_vortex_black.png');
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 150%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

h1 {
  color: var(--text-color);
  font-family: 'Courier New', monospace;
  font-size: 400%;
}

h2 {
  color: var(--text-color);
  font-family: 'Courier New', monospace;
  font-size: 200%;
  font-weight: bold;
}

h3 {
  color: var(--text-color);
  font-family: 'Courier New', monospace;
  font-size: 150%;
  font-weight: bold;
}

p {
  color: var(--text-color);
  font-family: 'Courier New', monospace;
  font-size: 90%;
}

li {
  color: var(--text-color);
  font-family: 'Courier New', monospace;
  font-size: 90%;
}

hr {
  border-color: var(--text-color);
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-bg.dark {
  font-size: 150%;
  background: var(--text-color);
}

.container-fluid.blue {
  font-size: 150%;
  background-color: rgb(23, 28, 32);
}

.center {
  margin: auto;
  width: 50%;
}

.nav.navbar-nav li.active a,
.nav.navbar-nav li.active a:hover,
.nav.navbar-nav li.active a:focus {
  background-color: rgb(40, 57, 65);
}

#cursor {
  animation: blink 1s step-start infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}